*{
    margin: 0;
    padding: 0;
}

/* ESTILO GENERAL */


.navbar,.sidebar{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background:#607d8b;
    color: #f5f7f8;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}

.brand{
    display: flex;
    justify-content: flex-start;
    width: 80%;
}
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    color: #33434a;
}

.filter{
    grid-area: filter;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background: #e3edf1;
    color:#607d8b;

}
  
.pagination>li>a{
    color: #273137;
    background: #dfe5e8;
    border:none;
    font-weight: 400;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #303e45;
    background-color: #becbd2;
    border-color: #ddd;
    font-weight: 600;
}
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f5f7f8;
    color: #7d97a5;
    padding: 15px;
    min-height: 60px;
   
}


.card-img-top{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}
.card{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    row-gap: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background: #f5f7f8;


}
/*
header {
    grid-area: header;
  }
  
  aside {
    grid-area: sidebar;
  }
  
  */

/* DISPOSITIVO LARGE */
@media (min-width: 576px) {

    .grid-container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
        ;
      }


}



/* DISPOSITIVO MED-SMALL */
@media (max-width: 576px) {

    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "nav"
        "filter"
        "main"
        "footer";
      }
}